 <div class="rcornersDiv margin-top-40">
  <div class="row ">
    <div class="col-sm-12">
      <p>The "EXCLUSIVE" one stop shop for GIC TALENT</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-outline-success">Join the GIC team</button>
    </div>
  </div>
  <div class="row margin-top-10">
    <div class="col-sm-4 offset-sm-4">
      <div class="input-group">
        <input type="text" [(ngModel)]="searchKey" class="form-control" placeholder="Search by skills">
        <span class="input-group-addon" (click)="search()"><i class="fa fa-search" aria-hidden="true"></i></span>
      </div>
    </div>
  </div>
 </div>


 <div class="rcornersDiv margin-top-40">
   <app-carousel></app-carousel>
 </div>




 <div class="rcornersDiv margin-top-40">
   <div class="row ">
     <div class="col-sm-4">
       <b>EXCLUSIVE</b>
       <div class="borderedDiv green">
         <p>ONLY FOR GIC TALENT</p>
       </div>
     </div>
     <div class="col-sm-4">
       <b> TOP JOBS</b>
       <div class="borderedDiv orange">
         <p>ONE STOP SHOP</p>
       </div>
     </div>
     <div class="col-sm-4">
       <b>COMMUNITY</b>
       <div class="borderedDiv purple">
         <p>INTERACT WITH LIKE MINDED FOLKS</p>
       </div>
     </div>
   </div>
 </div>

