

<div class="container tabContainer">

      <ngb-tabset #t="ngbTabset">
        <ngb-tab title="Home">
          <ng-template ngbTabContent>
            <app-home  (emitEvent)="buttonMessage($event,t)"></app-home>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle><b>About</b> us</ng-template>
          <ng-template ngbTabContent>
            <app-about></app-about>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Company" >
          <ng-template ngbTabContent>
           <app-company></app-company>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Job Seeker" >
          <ng-template ngbTabContent>
            <app-job-seeker></app-job-seeker>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Search" id="search">
          <ng-template ngbTabContent>
            <app-search [searchKey]="searchKey"></app-search>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>

</div>




