<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">GIC TALENT</a>

  <div class="collapse navbar-collapse" >
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Skills/Title">
      <input class="form-control mr-sm-2" type="text" placeholder="Location">
      <button class="btn btn-outline-success my-2 my-sm-0" >Search</button>
    </form>
  </div>
</nav>


<div class="searchBar">
  <div class="row margin-left-10">
    <span class="list" *ngFor="let categories of jobCategories">
     {{categories}}
      <span> | </span>
    </span>

    <i class="fa fa-bars  fa-lg color-blue" data-toggle="modal" data-target="#jobCategoryModal" aria-hidden="true">

    </i>

  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="searchResult margin-left-10">
      <h6>Filters</h6>
    </div>
  </div>
  <div class="col-sm-5">
    <div *ngFor="let result of results" class="searchResult">
     <div class="row">
     <div class="col-sm-6">
     <b><u>{{result.jobTitle}}</u></b>
     <p>{{result.company}}</p>
       <button class="btn-success">Apply</button>

     </div>
     <div class="col-md-6 leftborderDiv">
       <p><small>{{result.name}}</small></p>
       <p><i class="fa fa-map-marker fa-lg color-blue"></i> {{result.location}}</p>
       <p><i class="fa fa-cogs fa-lg color-blue"></i> {{result.exp}}</p>
       <p><i class="fa fa-briefcase fa-lg color-blue"></i>
         <span *ngFor="let skill of result.skills" class="chips">
       {{skill}}
      </span>
       </p>

     </div>
     </div>
    </div>
  </div>
</div>


<div class="modal fade" id="jobCategoryModal" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" >Select Jobs</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div  class="col-sm-6" *ngFor="let categories of jobCategories">
            <i class="fa fa-bolt fa-lg color-blue"></i>
            <small><span class="category"  (click)="applySelection()">{{categories}}</span></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



